{"openapi":"3.1.0","info":{"title":"AccSaber Reloaded API","description":"REST API for the AccSaber Reloaded platform - an accuracy-based leaderboard system for Beat Saber.\n","contact":{"name":"AccSaber Reloaded","url":"https://accsaberreloaded.com"},"version":"ALPHA-2.1.0"},"servers":[{"url":"https://api.accsaberreloaded.com","description":"Generated server url"}],"security":[{"Bearer Token":[]}],"tags":[{"name":"Health","description":"Service health and status checks"},{"name":"Categories","description":"Scoring categories (True Acc, Standard Acc, Tech Acc, etc.) and their associated curves"},{"name":"Modifiers","description":"Score modifiers (NF, DA, etc.) and their multipliers"},{"name":"Maps","description":"Ranked maps, difficulties, complexity history, and per-difficulty leaderboards"},{"name":"Batches","description":"Ranking batches - curated groups of qualified maps released together (public reads)"},{"name":"Players","description":"Player profiles, score history, milestones, level, and campaign progress"},{"name":"Leaderboards","description":"Global and country leaderboard rankings by category"},{"name":"Milestones","description":"Milestone sets, individual milestones/achievements, and level thresholds"},{"name":"Campaigns","description":"Campaign progressions with curated map sequences and XP rewards"},{"name":"Playlists","description":"Downloadable Beat Saber playlist files for each ranked category, with syncURL for auto-updates"},{"name":"Curves","description":"Scoring curves - point-lookup and formula curves used for AP and weight calculations"},{"name":"Discord Links","description":"Discord-to-player account linking and lookup"},{"name":"Site Statistics","description":"Site-wide statistics, leaderboards (streaks, AP, retries, improvements, milestones), and chart data (time series, distributions)"},{"name":"Calculate","description":"Calculation utilities - compute raw and weighted values from score percentage, complexity, and category"},{"name":"Open Graph","description":"OG meta tag endpoints for link preview embeds (Discord, Twitter, etc.)"},{"name":"Ranking - Map Import","description":"Import new map difficulties into the ranking queue (Ranking role)"},{"name":"Ranking - Map Votes","description":"Cast, list, and manage votes on map difficulties (Ranking / RANKING_HEAD roles)"},{"name":"Ranking - Map Difficulty Management","description":"Status transitions, complexity updates, reweights, unranks, and criteria webhooks (RANKING_HEAD role)"},{"name":"Ranking - Batches","description":"Create, manage, and release ranking batches (RANKING_HEAD role)"},{"name":"Admin Import","description":"Bulk imports, score backfills, and player profile refreshes (Admin role)"},{"name":"Admin Recalculation","description":"Trigger recalculations for leaderboards, difficulties, AP/XP curves, and weight curves (Admin role)"},{"name":"Admin Milestones","description":"Create, deactivate, backfill milestones and refresh completion stats (Admin role)"},{"name":"Admin Campaigns","description":"Create, update, deactivate campaigns and manage campaign maps (Admin role)"},{"name":"Admin User Duplicates","description":"Detect, link, and merge duplicate user accounts across platforms (Admin role)"},{"name":"Admin Curves","description":"Create and update scoring curves (Admin role)"},{"name":"Admin WebSocket","description":"Monitor and reconnect BeatLeader/ScoreSaber WebSocket feeds (Admin role)"},{"name":"Staff Auth","description":"Staff login, token refresh, and logout"},{"name":"Staff Users","description":"Staff account management - profiles, roles, status, and OAuth links (Admin role)"}],"paths":{"/v1/admin/milestones/{id}":{"put":{"tags":["Admin Milestones"],"summary":"Update milestone name/description","operationId":"updateMilestone","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMilestoneRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MilestoneResponse"}}}}}},"delete":{"tags":["Admin Milestones"],"summary":"Remove a milestone (deactivate + recalculate all user XP)","operationId":"removeMilestone","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/v1/admin/milestones/set-links/{linkId}":{"put":{"tags":["Admin Milestones"],"summary":"Update a set link's sort order","operationId":"updateSetLink","parameters":[{"name":"linkId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMilestoneSetLinkRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MilestoneSetLinkResponse"}}}}}},"delete":{"tags":["Admin Milestones"],"summary":"Deactivate a set link","operationId":"deactivateSetLink","parameters":[{"name":"linkId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/v1/admin/milestones/set-groups/{groupId}":{"put":{"tags":["Admin Milestones"],"summary":"Update a milestone set group","operationId":"updateSetGroup","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMilestoneSetGroupRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MilestoneSetGroupResponse"}}}}}},"delete":{"tags":["Admin Milestones"],"summary":"Deactivate a milestone set group","operationId":"deactivateSetGroup","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/v1/admin/milestones/prerequisites/{linkId}":{"put":{"tags":["Admin Milestones"],"summary":"Update a prerequisite link","operationId":"updatePrerequisiteLink","parameters":[{"name":"linkId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePrerequisiteLinkRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PrerequisiteLinkResponse"}}}}}},"delete":{"tags":["Admin Milestones"],"summary":"Deactivate a prerequisite link","operationId":"deactivatePrerequisiteLink","parameters":[{"name":"linkId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/v1/staff/users":{"get":{"tags":["Staff Users"],"summary":"List all staff users (active, inactive, any status)","operationId":"getAll","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["REQUESTED","ACCEPTED","DENIED"]}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageStaffUserResponse"}}}}}},"post":{"tags":["Staff Users"],"summary":"Create a staff user","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateStaffUserRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StaffUserResponse"}}}}}}},"/v1/staff/users/{id}/oauth":{"get":{"tags":["Staff Users"],"summary":"Get OAuth links for a staff user","operationId":"getOAuthLinks","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StaffOAuthLinkResponse"}}}}}}},"post":{"tags":["Staff Users"],"summary":"Link an OAuth provider to a staff user","operationId":"linkOAuth","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthLinkRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StaffOAuthLinkResponse"}}}}}}},"/v1/staff/auth/request":{"post":{"tags":["Staff Auth"],"summary":"Request staff access","operationId":"requestAccess","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaffAccessRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/staff/auth/refresh":{"post":{"tags":["Staff Auth"],"summary":"Refresh access token","operationId":"refresh","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshTokenRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/v1/staff/auth/logout":{"post":{"tags":["Staff Auth"],"summary":"Log out","operationId":"logout","responses":{"200":{"description":"OK"}}}},"/v1/staff/auth/login":{"post":{"tags":["Staff Auth"],"summary":"Log in as staff","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/v1/ranking/maps/import":{"post":{"tags":["Ranking - Map Import"],"summary":"Import a map difficulty (Queue)","description":"Auto-fetches metadata from BeatLeader and BeatSaver, then creates the map difficulty in queue status","operationId":"importMapDifficulty","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImportMapFromLeaderboardIdsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MapDifficultyResponse"}}}}}}},"/v1/ranking/maps/import/manual":{"post":{"tags":["Ranking - Map Import"],"summary":"Manual import a map difficulty","description":"Import with all fields provided manually (fallback when external APIs are unavailable)","operationId":"importMapDifficultyManual","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMapDifficultyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MapDifficultyResponse"}}}}}}},"/v1/ranking/maps/difficulties/{difficultyId}/votes":{"get":{"tags":["Ranking - Map Votes"],"summary":"List votes on a map difficulty","description":"Returns all active votes plus informational threshold flags for reweight and unrank","operationId":"listVotes","parameters":[{"name":"difficultyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"type","in":"query","required":false,"schema":{"type":"string","default":"RANK","enum":["RANK","REWEIGHT","UNRANK"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VoteListResponse"}}}}}},"post":{"tags":["Ranking - Map Votes"],"summary":"Cast or update a vote on a map difficulty","operationId":"castVote","parameters":[{"name":"difficultyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CastVoteRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VoteResponse"}}}}}}},"/v1/ranking/maps/difficulties/{difficultyId}/unrank":{"post":{"tags":["Ranking - Map Difficulty Management"],"summary":"Approve and apply an unrank","description":"Moves a RANKED difficulty back to QUEUE status","operationId":"unrank","parameters":[{"name":"difficultyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApproveUnrankRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MapDifficultyResponse"}}}}}}},"/v1/ranking/maps/difficulties/{difficultyId}/reweight":{"post":{"tags":["Ranking - Map Difficulty Management"],"summary":"Approve and apply a reweight","description":"Sets new complexity on a RANKED difficulty and recalculates scores asynchronously","operationId":"reweight","parameters":[{"name":"difficultyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApproveReweightRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MapDifficultyResponse"}}}}}}},"/v1/ranking/maps/difficulties/{difficultyId}/recalculate":{"post":{"tags":["Ranking - Map Difficulty Management"],"summary":"Recalculate scores for a difficulty","description":"Recalculates all scores based on the current active complexity. Skips if AP values are unchanged.","operationId":"recalculate","parameters":[{"name":"difficultyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/v1/ranking/maps/difficulties/{difficultyId}/complexity":{"post":{"tags":["Ranking - Map Difficulty Management"],"summary":"Set difficulty complexity","description":"Versioned complexity update - deactivates current and inserts new version","operationId":"updateComplexity","parameters":[{"name":"difficultyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMapComplexityRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MapDifficultyResponse"}}}}}}},"/v1/ranking/maps/difficulties/criteria":{"post":{"tags":["Ranking - Map Difficulty Management"],"summary":"Criteria checker webhook","description":"External service endpoint to update criteria pass/fail status on a difficulty","operationId":"updateCriteria","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CriteriaWebhookRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/ranking/maps/difficulties/bulk-unrank":{"post":{"tags":["Ranking - Map Difficulty Management"],"summary":"Bulk unrank","description":"Move multiple RANKED difficulties back to QUEUE in one request","operationId":"bulkUnrank","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkUnrankRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MapDifficultyResponse"}}}}}}}},"/v1/ranking/maps/difficulties/bulk-reweight":{"post":{"tags":["Ranking - Map Difficulty Management"],"summary":"Bulk reweight","description":"Sets new complexities on multiple RANKED difficulties with a shared reason and recalculates all scores asynchronously","operationId":"bulkReweight","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkReweightRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/ranking/batches":{"get":{"tags":["Ranking - Batches"],"summary":"List batches","description":"Lists batches with optional status filter and search","operationId":"listBatches","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["DRAFT","RELEASE_READY","RELEASED"]}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageBatchResponse"}}}}}},"post":{"tags":["Ranking - Batches"],"summary":"Create a batch","description":"Creates a new batch in draft status","operationId":"createBatch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBatchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchResponse"}}}}}}},"/v1/ranking/batches/{id}/reweight":{"post":{"tags":["Ranking - Batches"],"summary":"Reweight a batch","description":"Sets new complexities on RANKED difficulties in a released batch and recalculates scores asynchronously","operationId":"reweightBatch","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchReweightRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MapDifficultyResponse"}}}}}}}},"/v1/ranking/batches/{id}/release":{"post":{"tags":["Ranking - Batches"],"summary":"Release a batch","description":"Atomically transitions all member difficulties to ranked and stamps ranked_at. Irreversible.","operationId":"release","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchResponse"}}}}}}},"/v1/ranking/batches/{id}/recalculate":{"post":{"tags":["Ranking - Batches"],"summary":"Recalculate a batch","description":"Recalculates all scores in a released batch based on current active complexities. Skips difficulties where AP values are unchanged.","operationId":"recalculateBatch","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/v1/ranking/batches/{id}/difficulties/{difficultyId}":{"post":{"tags":["Ranking - Batches"],"summary":"Add a map difficulty to a batch","operationId":"addDifficulty","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"difficultyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchResponse"}}}}}},"delete":{"tags":["Ranking - Batches"],"summary":"Remove a map difficulty from a batch","operationId":"removeDifficulty","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"difficultyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchResponse"}}}}}}},"/v1/discord/links":{"post":{"tags":["Discord Links"],"summary":"Link a Discord account to a player","operationId":"link","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkDiscordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DiscordLinkResponse"}}}}}}},"/v1/admin/ws/reconnect":{"post":{"tags":["Admin WebSocket"],"summary":"Reconnect a WebSocket","operationId":"reconnectWebSocket","parameters":[{"name":"platform","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v1/admin/users/{userId}/unban":{"post":{"tags":["Admin Users"],"summary":"Unban a user","description":"Unbans a previously banned user, restoring them to leaderboards and rankings. Recalculation runs asynchronously.","operationId":"unbanUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/v1/admin/users/{userId}/refresh":{"post":{"tags":["Admin Users"],"summary":"Refresh a player's profile","description":"Refreshes a single player's profile from BeatLeader and ScoreSaber.","operationId":"refreshPlayer","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}}}}},"/v1/admin/users/{userId}/ban":{"post":{"tags":["Admin Users"],"summary":"Ban a user","description":"Bans a user, excluding them from leaderboards and rankings. Ranking recalculation runs asynchronously. Profile remains accessible.","operationId":"banUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/v1/admin/users/refresh":{"post":{"tags":["Admin Users"],"summary":"Refresh all player profiles","description":"Triggers an async refresh of all player profiles from BeatLeader and ScoreSaber, updating names, avatars, countries, and activity status.","operationId":"refreshAllPlayers","responses":{"200":{"description":"OK"}}}},"/v1/admin/users/duplicates/unmerge/{linkId}":{"post":{"tags":["Admin User Duplicates"],"summary":"Unmerge a previously merged duplicate link","description":"Reverses score reassignments and reactivates the secondary user","operationId":"unmergeUsers","parameters":[{"name":"linkId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DuplicateLinkResponse"}}}}}}},"/v1/admin/users/duplicates/merge":{"post":{"tags":["Admin User Duplicates"],"summary":"Merge secondary user into primary user","description":"Reassigns unique scores from secondary to primary, deactivates secondary","operationId":"mergeUsers","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MergeUsersRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DuplicateLinkResponse"}}}}}}},"/v1/admin/users/duplicates/merge-all":{"post":{"tags":["Admin User Duplicates"],"summary":"Merge all unmerged duplicate links","description":"Merges all curated links that haven't been merged yet. Recalculation runs once after all merges complete.","operationId":"mergeAll","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DuplicateLinkResponse"}}}}}}}},"/v1/admin/users/duplicates/links":{"get":{"tags":["Admin User Duplicates"],"summary":"List all duplicate links","operationId":"listLinks","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DuplicateLinkResponse"}}}}}}},"post":{"tags":["Admin User Duplicates"],"summary":"Create a duplicate link without merging","operationId":"createLink","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MergeUsersRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DuplicateLinkResponse"}}}}}}},"/v1/admin/recalculate/xp/sum":{"post":{"tags":["Admin Recalculation"],"summary":"Recalculate total XP for all users","description":"Recomputes totalXp from score XP + milestone XP + set bonus XP. Does not recalculate per-score XP.","operationId":"recalculateTotalXp","responses":{"200":{"description":"OK"}}}},"/v1/admin/recalculate/xp/scores":{"post":{"tags":["Admin Recalculation"],"summary":"Reweight XP for all scores","description":"Recalculates per-score XP based on the current XP curve. Does not update user totals.","operationId":"reweightAllXp","responses":{"200":{"description":"OK"}}}},"/v1/admin/recalculate/stats/player/{userId}":{"post":{"tags":["Admin Recalculation"],"summary":"Recalculate a player's statistics for a category","operationId":"recalculatePlayer","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"categoryId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/v1/admin/recalculate/scores/remove":{"post":{"tags":["Admin Recalculation"],"summary":"Remove a wrongly-attributed score","description":"Deactivates a user's active score on a map difficulty, reverses XP, and recalculates rankings/stats.","operationId":"removeScore","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"mapDifficultyId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"reason","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v1/admin/recalculate/ap/weighted":{"post":{"tags":["Admin Recalculation"],"summary":"Recalculate weighted AP for all users","description":"Recalculates weighted AP per category for every user, then updates all rankings.","operationId":"recalculateAllWeightedAp","responses":{"200":{"description":"OK"}}}},"/v1/admin/recalculate/ap/raw":{"post":{"tags":["Admin Recalculation"],"summary":"Recalculate raw AP for all scores","description":"In-place AP recalc across all ranked difficulties. Reassigns ranks and updates stats per category.","operationId":"recalculateAllRawAp","responses":{"200":{"description":"OK"}}}},"/v1/admin/recalculate/ap/difficulty/{difficultyId}":{"post":{"tags":["Admin Recalculation"],"summary":"Recalculate raw AP for a single difficulty","description":"Versioned recalc: creates new score versions, reassigns ranks, updates stats.","operationId":"recalculateDifficulty","parameters":[{"name":"difficultyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/v1/admin/recalculate/ap/all":{"post":{"tags":["Admin Recalculation"],"summary":"Recalculate all AP (raw + weighted)","description":"Runs raw AP recalc then weighted AP recalc sequentially.","operationId":"recalculateAllAp","responses":{"200":{"description":"OK"}}}},"/v1/admin/milestones":{"get":{"tags":["Admin Milestones"],"summary":"List milestones by status","operationId":"listMilestones","parameters":[{"name":"setId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"categoryId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"type","in":"query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","default":"DRAFT","enum":["DRAFT","ACTIVE"]}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageMilestoneResponse"}}}}}},"post":{"tags":["Admin Milestones"],"summary":"Create a milestone","operationId":"createMilestone","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMilestoneRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MilestoneResponse"}}}}}}},"/v1/admin/milestones/{id}/map-links":{"post":{"tags":["Admin Milestones"],"summary":"Add map difficulty links to a milestone","operationId":"addMapDifficultyLinks","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddMapDifficultyLinksRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["Admin Milestones"],"summary":"Remove map difficulty links from a milestone","operationId":"removeMapDifficultyLinks","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddMapDifficultyLinksRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/admin/milestones/{id}/backfill":{"post":{"tags":["Admin Milestones"],"summary":"Backfill a single milestone for all users","operationId":"backfillMilestone","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/v1/admin/milestones/sets":{"get":{"tags":["Admin Milestones"],"summary":"List all milestone sets (active and inactive)","operationId":"listAllSets","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageMilestoneSetResponse"}}}}}},"post":{"tags":["Admin Milestones"],"summary":"Create a milestone set","operationId":"createSet","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMilestoneSetRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MilestoneSetResponse"}}}}}}},"/v1/admin/milestones/set-links":{"post":{"tags":["Admin Milestones"],"summary":"Create a set link within a group","operationId":"createSetLink","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMilestoneSetLinkRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MilestoneSetLinkResponse"}}}}}}},"/v1/admin/milestones/set-groups":{"post":{"tags":["Admin Milestones"],"summary":"Create a milestone set group","operationId":"createSetGroup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMilestoneSetGroupRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MilestoneSetGroupResponse"}}}}}}},"/v1/admin/milestones/refresh-stats":{"post":{"tags":["Admin Milestones"],"summary":"Refresh milestone completion statistics","operationId":"refreshStats","responses":{"200":{"description":"OK"}}}},"/v1/admin/milestones/prerequisites":{"post":{"tags":["Admin Milestones"],"summary":"Create a prerequisite link between milestones","operationId":"createPrerequisiteLink","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePrerequisiteLinkRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PrerequisiteLinkResponse"}}}}}}},"/v1/admin/milestones/backfill-all":{"post":{"tags":["Admin Milestones"],"summary":"Backfill all active milestones for all users (batched per user)","operationId":"backfillAllMilestones","responses":{"200":{"description":"OK"}}}},"/v1/admin/milestones/activate":{"post":{"tags":["Admin Milestones"],"summary":"Activate multiple milestones and backfill all users","operationId":"activateMilestones","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivateMilestonesRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MilestoneResponse"}}}}}}}},"/v1/admin/milestones/activate/{id}":{"post":{"tags":["Admin Milestones"],"summary":"Activate a milestone and backfill all users","operationId":"activateMilestone","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MilestoneResponse"}}}}}}},"/v1/admin/import/scores/backfill/{difficultyId}":{"post":{"tags":["Admin Import"],"summary":"Backfill a specific difficulty","operationId":"backfillDifficulty","parameters":[{"name":"difficultyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/v1/admin/import/scores/backfill-all":{"post":{"tags":["Admin Import"],"summary":"Backfill all ranked difficulties","operationId":"backfillAll","responses":{"200":{"description":"OK"}}}},"/v1/admin/curves":{"post":{"tags":["Admin Curves"],"summary":"Create a curve","operationId":"createCurve","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCurveRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CurveResponse"}}}}}}},"/v1/admin/campaigns":{"post":{"tags":["Admin Campaigns"],"summary":"Create a campaign","operationId":"createCampaign","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCampaignRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CampaignResponse"}}}}}}},"/v1/admin/campaigns/{campaignId}/maps":{"post":{"tags":["Admin Campaigns"],"summary":"Add a map to a campaign","operationId":"addCampaignMap","parameters":[{"name":"campaignId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddCampaignMapRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CampaignMapResponse"}}}}}}},"/v1/admin/badges":{"post":{"tags":["Admin Badges"],"summary":"Create a badge","operationId":"createBadge","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBadgeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BadgeResponse"}}}}}}},"/v1/admin/badges/award":{"post":{"tags":["Admin Badges"],"summary":"Award a badge to a user","operationId":"awardBadge","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AwardBadgeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserBadgeResponse"}}}}}}},"/v1/staff/users/{id}/status":{"patch":{"tags":["Staff Users"],"summary":"Update staff user status (requested/accepted/denied)","operationId":"updateStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateStaffStatusRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StaffUserResponse"}}}}}}},"/v1/staff/users/{id}/role":{"patch":{"tags":["Staff Users"],"summary":"Update staff user role","operationId":"updateRole","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateStaffRoleRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StaffUserResponse"}}}}}}},"/v1/staff/users/{id}/password":{"patch":{"tags":["Staff Users"],"summary":"Force change a staff user's password","operationId":"forceChangePassword","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForceChangePasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/staff/users/{id}/link-user":{"patch":{"tags":["Staff Users"],"summary":"Link a player account to a staff user","operationId":"linkUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkUserRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StaffUserResponse"}}}}}}},"/v1/staff/users/me":{"patch":{"tags":["Staff Users"],"summary":"Update own username or email","operationId":"updateProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateStaffProfileRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StaffUserResponse"}}}}}}},"/v1/ranking/maps/difficulties/{difficultyId}/status":{"patch":{"tags":["Ranking - Map Difficulty Management"],"summary":"Update difficulty status","description":"Manually transition a map difficulty status (ranking_head/admin only)","operationId":"updateStatus_1","parameters":[{"name":"difficultyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMapStatusRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MapDifficultyResponse"}}}}}}},"/v1/ranking/maps/difficulties/{difficultyId}/deactivate":{"patch":{"tags":["Ranking - Map Difficulty Management"],"summary":"Deactivate a map difficulty","description":"Soft-removes a map difficulty from the ranking system (ranking_head/admin only)","operationId":"deactivate","parameters":[{"name":"difficultyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/v1/ranking/maps/difficulties/{difficultyId}/category":{"patch":{"tags":["Ranking - Map Difficulty Management"],"summary":"Change difficulty category","description":"Reassigns a QUEUE or QUALIFIED difficulty to a different category. Not allowed on RANKED difficulties.","operationId":"updateCategory","parameters":[{"name":"difficultyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMapCategoryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MapDifficultyResponse"}}}}}}},"/v1/ranking/batches/{id}/status":{"patch":{"tags":["Ranking - Batches"],"summary":"Update batch status","description":"Transitions a batch between draft and release_ready. Use /release to publish.","operationId":"updateStatus_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBatchStatusRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchResponse"}}}}}}},"/v1/discord/links/{discordId}":{"get":{"tags":["Discord Links"],"summary":"Get link by Discord ID","operationId":"getByDiscordId","parameters":[{"name":"discordId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DiscordLinkResponse"}}}}}},"delete":{"tags":["Discord Links"],"summary":"Unlink a Discord account (admin)","operationId":"unlink","parameters":[{"name":"discordId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["Discord Links"],"summary":"Update a Discord link's player (admin)","operationId":"update","parameters":[{"name":"discordId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDiscordLinkRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DiscordLinkResponse"}}}}}}},"/v1/admin/users/{userId}/country":{"patch":{"tags":["Admin Users"],"summary":"Override a user's country","description":"Sets a manual country override, preventing platform refreshes from changing it.","operationId":"overrideCountry","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountryOverrideRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/admin/milestones/{id}/deactivate":{"patch":{"tags":["Admin Milestones"],"summary":"Deactivate a milestone","operationId":"deactivateMilestone","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/v1/admin/curves/{id}":{"patch":{"tags":["Admin Curves"],"summary":"Update a curve","operationId":"updateCurve","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCurveRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CurveResponse"}}}}}}},"/v1/admin/campaigns/{campaignId}":{"patch":{"tags":["Admin Campaigns"],"summary":"Update a campaign","operationId":"updateCampaign","parameters":[{"name":"campaignId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCampaignRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CampaignResponse"}}}}}}},"/v1/admin/campaigns/{campaignId}/maps/{campaignMapId}/deactivate":{"patch":{"tags":["Admin Campaigns"],"summary":"Remove a map from a campaign","operationId":"removeCampaignMap","parameters":[{"name":"campaignId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"campaignMapId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/v1/admin/campaigns/{campaignId}/deactivate":{"patch":{"tags":["Admin Campaigns"],"summary":"Deactivate a campaign","operationId":"deactivateCampaign","parameters":[{"name":"campaignId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/v1/admin/badges/{id}":{"patch":{"tags":["Admin Badges"],"summary":"Deactivate a badge","operationId":"deactivateBadge","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/v1/users/{userId}":{"get":{"tags":["Players"],"summary":"Get user profile","description":"Returns a player profile by user ID. Optionally include all category statistics.","operationId":"getUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"statistics","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}}}}},"/v1/users/{userId}/stats-diff":{"get":{"tags":["Players"],"summary":"Get user stats diff","description":"Returns the difference between the most recent statistics and the last statistics before 24h ago. Returns 204 No Content if no baseline exists (new player or no activity before 24h ago)","operationId":"getStatsDiff","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"category","in":"query","required":false,"schema":{"type":"string","default":"overall"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StatsDiffResponse"}}}}}}},"/v1/users/{userId}/statistics":{"get":{"tags":["Players"],"summary":"Get user category statistics","description":"Returns active category statistics for a player by category code (tech_acc, standard_acc, true_acc) (defaults to 'overall')","operationId":"getUserStatistics","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"category","in":"query","required":false,"schema":{"type":"string","default":"overall"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserCategoryStatisticsResponse"}}}}}}},"/v1/users/{userId}/statistics/historic":{"get":{"tags":["Players"],"summary":"Get historic user category statistics","description":"Returns all versioned statistics for a player over a time range, sorted by time ascending. Units: h (hours), d (days), w (weeks), mo (months)","operationId":"getUserStatisticsHistoric","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"category","in":"query","required":false,"schema":{"type":"string","default":"overall"}},{"name":"amount","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":7}},{"name":"unit","in":"query","required":false,"schema":{"type":"string","default":"d"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserCategoryStatisticsResponse"}}}}}}}},"/v1/users/{userId}/statistics/all":{"get":{"tags":["Players"],"summary":"Get all user statistics","description":"Returns all active category statistics plus XP breakdown for a player","operationId":"getAllUserStatistics","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserAllStatisticsResponse"}}}}}}},"/v1/users/{userId}/scores":{"get":{"tags":["Players"],"summary":"Get user scores","description":"Paginated list of a player's active scores, optionally filtered by category and/or song name","operationId":"getUserScores","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"categoryId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageScoreResponse"}}}}}}},"/v1/users/{userId}/scores/historic":{"get":{"tags":["Players"],"summary":"Get historic user scores","description":"Returns all versioned scores for a player on a specific map difficulty over a time range, sorted by time ascending. Units: h (hours), d (days), w (weeks), mo (months)","operationId":"getUserScoresHistoric","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"mapDifficultyId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"amount","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":7}},{"name":"unit","in":"query","required":false,"schema":{"type":"string","default":"d"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ScoreResponse"}}}}}}}},"/v1/users/{userId}/scores/by-hash/{songHash}":{"get":{"tags":["Players"],"summary":"Get user score by song hash","description":"Returns a player's active score on a specific map difficulty, looked up by song hash, difficulty (EASY, NORMAL, HARD, EXPERT, EXPERT_PLUS) and characteristic (defaults to Standard)","operationId":"getUserScoreBySongHash","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"songHash","in":"path","required":true,"schema":{"type":"string"}},{"name":"difficulty","in":"query","required":true,"schema":{"type":"string","enum":["EASY","NORMAL","HARD","EXPERT","EXPERT_PLUS"]}},{"name":"characteristic","in":"query","required":false,"schema":{"type":"string","default":"Standard"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScoreResponse"}}}}}}},"/v1/users/{userId}/ranking-history":{"get":{"tags":["Players"],"summary":"Get user ranking history","description":"Returns daily ranking snapshots for a player in a category over a time range, sorted by time ascending. Units: h (hours), d (days), w (weeks), mo (months)","operationId":"getUserRankingHistory","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"category","in":"query","required":false,"schema":{"type":"string","default":"overall"}},{"name":"amount","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":7}},{"name":"unit","in":"query","required":false,"schema":{"type":"string","default":"d"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RankingHistoryResponse"}}}}}}}},"/v1/users/{userId}/name-history":{"get":{"tags":["Players"],"summary":"Get user name history","description":"Returns a player's previous names, most recent first","operationId":"getNameHistory","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NameHistoryResponse"}}}}}}}},"/v1/users/{userId}/missing-maps":{"get":{"tags":["Players"],"summary":"Get unplayed maps for a user","description":"Paginated list of ranked difficulties the user has no active score on, with the same filters as the maps/difficulties endpoint","operationId":"getMissingMaps","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"categoryId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["QUEUE","QUALIFIED","RANKED"]}},{"name":"complexityMin","in":"query","required":false,"schema":{"type":"number"}},{"name":"complexityMax","in":"query","required":false,"schema":{"type":"number"}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagePublicMapDifficultyResponse"}}}}}}},"/v1/users/{userId}/milestones":{"get":{"tags":["Players"],"summary":"Get user milestone progress","operationId":"getUserMilestones","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageUserMilestoneProgressResponse"}}}}}}},"/v1/users/{userId}/milestones/completed":{"get":{"tags":["Players"],"summary":"Get user completed milestones","operationId":"getUserCompletedMilestones","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserMilestoneProgressResponse"}}}}}}}},"/v1/users/{userId}/level":{"get":{"tags":["Players"],"summary":"Get user level and XP","operationId":"getUserLevel","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LevelResponse"}}}}}}},"/v1/users/{userId}/campaigns/{campaignId}":{"get":{"tags":["Players"],"summary":"Get user progress in a campaign","operationId":"getUserCampaignProgress","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"campaignId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CampaignProgressResponse"}}}}}}},"/v1/users/{userId}/badges":{"get":{"tags":["Badges"],"summary":"Get badges for a user","operationId":"getUserBadges","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserBadgeResponse"}}}}}}}},"/v1/users/link":{"get":{"tags":["Players"],"summary":"Get user profile by platform link","description":"Returns a player profile by BeatLeader URL, ScoreSaber URL, or numeric ID. Optionally include all category statistics.","operationId":"getUserByLink","parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}},{"name":"statistics","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}}}}},"/v1/statistics/leaderboards/streaks":{"get":{"tags":["Site Statistics"],"summary":"Top 115 streaks","description":"Scores ranked by highest 115 note streak. Optional category filter.","operationId":"getTopStreaks","parameters":[{"name":"categoryId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageScoreResponse"}}}}}}},"/v1/statistics/leaderboards/most-retried":{"get":{"tags":["Site Statistics"],"summary":"Most retried maps","description":"Map difficulties ranked by number of superseded scores (improvements). Optional category filter.","operationId":"getMostRetriedMaps","parameters":[{"name":"categoryId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageMapRetryResponse"}}}}}}},"/v1/statistics/leaderboards/most-map-improvements":{"get":{"tags":["Site Statistics"],"summary":"Users with most improvements on a single map","description":"Users ranked by most superseded scores on any single map difficulty. Optional category filter.","operationId":"getMostMapImprovements","parameters":[{"name":"categoryId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageUserMapImprovementsResponse"}}}}}}},"/v1/statistics/leaderboards/most-improvements":{"get":{"tags":["Site Statistics"],"summary":"Users with most improvements","description":"Users ranked by total number of superseded scores across all maps. Optional category filter.","operationId":"getMostImprovements","parameters":[{"name":"categoryId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageUserImprovementsResponse"}}}}}}},"/v1/statistics/leaderboards/milestone-collectors":{"get":{"tags":["Site Statistics"],"summary":"Milestone collectors","description":"Users ranked by number of completed milestones.","operationId":"getMilestoneCollectors","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageMilestoneCollectorResponse"}}}}}}},"/v1/statistics/leaderboards/max-ap":{"get":{"tags":["Site Statistics"],"summary":"Top scores by AP","description":"Scores ranked by highest AP. Optional category filter.","operationId":"getTopByAp","parameters":[{"name":"categoryId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageScoreResponse"}}}}}}},"/v1/statistics/leaderboards/highest-avg-ap":{"get":{"tags":["Site Statistics"],"summary":"Maps with highest average AP","description":"Map difficulties ranked by average AP across all scores. Optional category filter and minimum score threshold.","operationId":"getHighestAvgAp","parameters":[{"name":"categoryId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"minScores","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":5}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageMapAvgApResponse"}}}}}}},"/v1/statistics/charts/scores-per-day":{"get":{"tags":["Site Statistics"],"summary":"Scores per day","description":"Count of score submissions over a time range. Units: h (hours), d (days), w (weeks), mo (months). Ranges over 65 days are downsampled to weekly.","operationId":"getScoresPerDay","parameters":[{"name":"amount","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":30}},{"name":"unit","in":"query","required":false,"schema":{"type":"string","default":"d"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TimeSeriesPointResponse"}}}}}}}},"/v1/statistics/charts/scores-per-category":{"get":{"tags":["Site Statistics"],"summary":"Scores per category","description":"Distribution of active scores across categories.","operationId":"getScoresPerCategory","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DistributionEntryResponse"}}}}}}}},"/v1/statistics/charts/players-per-country":{"get":{"tags":["Site Statistics"],"summary":"Players per country","description":"Distribution of active players by country.","operationId":"getPlayersPerCountry","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DistributionEntryResponse"}}}}}}}},"/v1/statistics/charts/players-by-hmd":{"get":{"tags":["Site Statistics"],"summary":"Players by HMD","description":"Distribution of players by headset model (from most recent score).","operationId":"getPlayersByHmd","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DistributionEntryResponse"}}}}}}}},"/v1/statistics/charts/new-players-per-day":{"get":{"tags":["Site Statistics"],"summary":"New players per day","description":"Count of new player registrations over a time range. Units: h (hours), d (days), w (weeks), mo (months). Ranges over 65 days are downsampled to weekly.","operationId":"getNewPlayersPerDay","parameters":[{"name":"amount","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":30}},{"name":"unit","in":"query","required":false,"schema":{"type":"string","default":"d"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TimeSeriesPointResponse"}}}}}}}},"/v1/statistics/charts/cumulative-scores":{"get":{"tags":["Site Statistics"],"summary":"Cumulative tracked scores","description":"Running total of tracked scores over a time range. Units: h (hours), d (days), w (weeks), mo (months). Ranges over 65 days are downsampled to weekly.","operationId":"getCumulativeScores","parameters":[{"name":"amount","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":30}},{"name":"unit","in":"query","required":false,"schema":{"type":"string","default":"d"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TimeSeriesPointResponse"}}}}}}}},"/v1/statistics/charts/cumulative-accounts":{"get":{"tags":["Site Statistics"],"summary":"Cumulative active accounts","description":"Running total of active accounts over a time range. Units: h (hours), d (days), w (weeks), mo (months). Ranges over 65 days are downsampled to weekly.","operationId":"getCumulativeAccounts","parameters":[{"name":"amount","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":30}},{"name":"unit","in":"query","required":false,"schema":{"type":"string","default":"d"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TimeSeriesPointResponse"}}}}}}}},"/v1/staff/users-public":{"get":{"tags":["Staff Users"],"summary":"List staff users, optionally filtered by active status","operationId":"listStaffUsers","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}},{"name":"active","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagePublicStaffUserResponse"}}}}}}},"/v1/staff/users-public/{id}":{"get":{"tags":["Staff Users"],"summary":"Get staff user by ID","operationId":"getById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublicStaffUserResponse"}}}}}}},"/v1/ranking/maps":{"get":{"tags":["Ranking - Map Read"],"summary":"List maps (staff)","description":"Full map list including complexity, submitter, and vote breakdowns","operationId":"listMaps","parameters":[{"name":"categoryId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["QUEUE","QUALIFIED","RANKED"]}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageMapResponse"}}}}}}},"/v1/ranking/maps/{mapId}":{"get":{"tags":["Ranking - Map Read"],"summary":"Get map by ID (staff)","operationId":"getMap","parameters":[{"name":"mapId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MapResponse"}}}}}}},"/v1/ranking/maps/{mapId}/difficulties":{"get":{"tags":["Ranking - Map Read"],"summary":"List difficulties for a map (staff)","operationId":"listMapDifficulties","parameters":[{"name":"mapId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MapDifficultyResponse"}}}}}}}},"/v1/ranking/maps/hash/{songHash}":{"get":{"tags":["Ranking - Map Read"],"summary":"Get map by song hash (staff)","operationId":"getMapBySongHash","parameters":[{"name":"songHash","in":"path","required":true,"schema":{"type":"string"}},{"name":"difficulty","in":"query","required":false,"schema":{"type":"string","enum":["EASY","NORMAL","HARD","EXPERT","EXPERT_PLUS"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MapResponse"}}}}}}},"/v1/ranking/maps/difficulties":{"get":{"tags":["Ranking - Map Read"],"summary":"List difficulties (staff)","description":"Full difficulty list including complexity, submitter, and all vote breakdowns","operationId":"listDifficulties","parameters":[{"name":"categoryId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["QUEUE","QUALIFIED","RANKED"]}},{"name":"complexityMin","in":"query","required":false,"schema":{"type":"number"}},{"name":"complexityMax","in":"query","required":false,"schema":{"type":"number"}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageMapDifficultyResponse"}}}}}}},"/v1/ranking/maps/difficulties/{difficultyId}":{"get":{"tags":["Ranking - Map Read"],"summary":"Get difficulty by ID (staff)","operationId":"getDifficulty","parameters":[{"name":"difficultyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MapDifficultyResponse"}}}}}}},"/v1/ranking/maps/difficulties/votes/activity":{"get":{"tags":["Ranking - Map Votes"],"summary":"Vote activity feed","description":"Paginated list of all active votes sorted by most recently updated","operationId":"getActivityFeed","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageVoteResponse"}}}}}}},"/v1/ranking/maps/difficulties/deactivated":{"get":{"tags":["Ranking - Map Read"],"summary":"List deactivated difficulties","description":"All map difficulties that have been removed from the ranking system (active=false), ordered by most recently updated","operationId":"listDeactivated","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MapDifficultyResponse"}}}}}}}},"/v1/ranking/maps/difficulties/ai-complexity":{"get":{"tags":["Ranking - Map Read"],"summary":"Estimate AI complexity","description":"Returns the AI-suggested complexity for an active RANKED difficulty identified by songHash + difficulty + characteristic. Returns a null complexity if BeatLeader has no AI accuracy for this map.","operationId":"getAiComplexity","parameters":[{"name":"songHash","in":"query","required":true,"schema":{"type":"string"}},{"name":"difficulty","in":"query","required":true,"schema":{"type":"string","enum":["EASY","NORMAL","HARD","EXPERT","EXPERT_PLUS"]}},{"name":"characteristic","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AiComplexityResponse"}}}}}}},"/v1/ranking/maps/by-code/{beatsaverCode}":{"get":{"tags":["Ranking - Map Read"],"summary":"Get map by BeatSaver code (staff)","operationId":"getMapByBeatsaverCode","parameters":[{"name":"beatsaverCode","in":"path","required":true,"schema":{"type":"string"}},{"name":"difficulty","in":"query","required":false,"schema":{"type":"string","enum":["EASY","NORMAL","HARD","EXPERT","EXPERT_PLUS"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MapResponse"}}}}}}},"/v1/ranking/batches/{id}":{"get":{"tags":["Ranking - Batches"],"summary":"Get a batch","description":"Returns a single batch with its difficulties","operationId":"getBatch","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchResponse"}}}}}}},"/v1/playlists":{"get":{"tags":["Playlists"],"summary":"Download category playlist (query param)","description":"Returns a Beat Saber playlist JSON file containing all ranked maps for the specified category. The syncURL field allows mod managers to auto-refresh the playlist. Prefer the /{category} path variant for standalone Beat Saber compatibility.","operationId":"getPlaylist","parameters":[{"name":"category","in":"query","description":"Category code (e.g. true_acc, standard_acc, tech_acc)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{}}}}}},"deprecated":true}},"/v1/playlists/{category}":{"get":{"tags":["Playlists"],"summary":"Download category playlist","description":"Returns a Beat Saber playlist JSON file containing all ranked maps for the specified category. The syncURL field allows mod managers to auto-refresh the playlist. This path-based variant is compatible with standalone Beat Saber.","operationId":"getPlaylistByPath","parameters":[{"name":"category","in":"path","description":"Category code (e.g. true_acc, standard_acc, tech_acc)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{}}}}}}}},"/v1/og/players/{userId}":{"get":{"tags":["Open Graph"],"operationId":"playerOg","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"text/html":{"schema":{"type":"string"}}}}}}},"/v1/og/maps/{mapId}":{"get":{"tags":["Open Graph"],"operationId":"mapOg","parameters":[{"name":"mapId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"difficultyId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"text/html":{"schema":{"type":"string"}}}}}}},"/v1/modifiers":{"get":{"tags":["Modifiers"],"summary":"List active modifiers","description":"Returns all active score modifiers","operationId":"listModifiers","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ModifierResponse"}}}}}}}},"/v1/milestones":{"get":{"tags":["Milestones"],"summary":"List active milestones with optional filters","operationId":"listMilestones_1","parameters":[{"name":"setId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"categoryId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"type","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageMilestoneResponse"}}}}}}},"/v1/milestones/{id}":{"get":{"tags":["Milestones"],"summary":"Get a milestone by ID","operationId":"getMilestone","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MilestoneResponse"}}}}}}},"/v1/milestones/{id}/holders":{"get":{"tags":["Milestones"],"summary":"List users who have completed a milestone","operationId":"getMilestoneHolders","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageMilestoneHolderResponse"}}}}}}},"/v1/milestones/sets":{"get":{"tags":["Milestones"],"summary":"List active milestone sets","operationId":"listMilestoneSets","parameters":[{"name":"userId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageMilestoneSetResponse"}}}}}}},"/v1/milestones/sets/{setId}/prerequisites":{"get":{"tags":["Milestones"],"summary":"Get prerequisite links for a set","operationId":"getPrerequisiteLinksBySet","parameters":[{"name":"setId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PrerequisiteLinkResponse"}}}}}}}},"/v1/milestones/sets/{setId}/milestones":{"get":{"tags":["Milestones"],"summary":"List all milestones in a set","operationId":"getMilestonesBySet","parameters":[{"name":"setId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MilestoneResponse"}}}}}}}},"/v1/milestones/sets/{setId}/groups":{"get":{"tags":["Milestones"],"summary":"Get set group links for a set","operationId":"getSetLinksBySet","parameters":[{"name":"setId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MilestoneSetLinkResponse"}}}}}}}},"/v1/milestones/set-groups":{"get":{"tags":["Milestones"],"summary":"List active milestone set groups","operationId":"listSetGroups","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MilestoneSetGroupResponse"}}}}}}}},"/v1/milestones/set-groups/{groupId}/links":{"get":{"tags":["Milestones"],"summary":"Get set links for a group","operationId":"getSetLinksByGroup","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MilestoneSetLinkResponse"}}}}}}}},"/v1/milestones/completion-stats":{"get":{"tags":["Milestones"],"summary":"Get completion stats for all active milestones","operationId":"getCompletionStats","parameters":[{"name":"userId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string","default":"tier"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MilestoneCompletionResponse"}}}}}}}},"/v1/maps":{"get":{"tags":["Maps"],"summary":"List maps","description":"Paginated map list, optionally filtered by category, status, and/or search (matches song name, song author, or mapper)","operationId":"listMaps_1","parameters":[{"name":"categoryId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["QUEUE","QUALIFIED","RANKED"]}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagePublicMapResponse"}}}}}}},"/v1/maps/{mapId}":{"get":{"tags":["Maps"],"summary":"Get map by ID","description":"Returns a map with all its active difficulties","operationId":"getMap_1","parameters":[{"name":"mapId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublicMapResponse"}}}}}}},"/v1/maps/{mapId}/difficulties":{"get":{"tags":["Maps"],"summary":"List difficulties for a map","operationId":"listMapDifficulties_1","parameters":[{"name":"mapId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PublicMapDifficultyResponse"}}}}}}}},"/v1/maps/{mapId}/complexity-history":{"get":{"tags":["Maps"],"summary":"Complexity version history for a map","operationId":"getComplexityHistory","parameters":[{"name":"mapId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MapComplexityHistoryResponse"}}}}}}}},"/v1/maps/hash/{songHash}":{"get":{"tags":["Maps"],"summary":"Get map by song hash","description":"Returns a map by its song hash with active difficulties, optionally filtered by difficulty level (EASY, NORMAL, HARD, EXPERT, EXPERT_PLUS)","operationId":"getMapBySongHash_1","parameters":[{"name":"songHash","in":"path","required":true,"schema":{"type":"string"}},{"name":"difficulty","in":"query","required":false,"schema":{"type":"string","enum":["EASY","NORMAL","HARD","EXPERT","EXPERT_PLUS"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublicMapResponse"}}}}}}},"/v1/maps/difficulties":{"get":{"tags":["Maps"],"summary":"List difficulties","description":"Paginated difficulty list with map metadata, filterable by category, status, complexity range, and/or search (matches song name, song author, or mapper)","operationId":"listDifficulties_1","parameters":[{"name":"categoryId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["QUEUE","QUALIFIED","RANKED"]}},{"name":"complexityMin","in":"query","required":false,"schema":{"type":"number"}},{"name":"complexityMax","in":"query","required":false,"schema":{"type":"number"}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagePublicMapDifficultyResponse"}}}}}}},"/v1/maps/difficulties/{difficultyId}":{"get":{"tags":["Maps"],"summary":"Get difficulty by ID","description":"Returns a single map difficulty with public metadata; complexity is only included for RANKED difficulties, vote counts and criteria status only for non-RANKED","operationId":"getDifficulty_1","parameters":[{"name":"difficultyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublicMapDifficultyResponse"}}}}}}},"/v1/maps/difficulties/{difficultyId}/statistics":{"get":{"tags":["Maps"],"summary":"Current statistics for a difficulty","description":"Returns the active aggregate statistics (maxAp, minAp, averageAp, totalScores) for a difficulty","operationId":"getDifficultyStatistics","parameters":[{"name":"difficultyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MapDifficultyStatisticsResponse"}}}}}}},"/v1/maps/difficulties/{difficultyId}/statistics/historic":{"get":{"tags":["Maps"],"summary":"Historic statistics for a difficulty","description":"Returns all versioned statistics for a difficulty over a time range, sorted by time ascending. Units: h (hours), d (days), w (weeks), mo (months)","operationId":"getDifficultyStatisticsHistoric","parameters":[{"name":"difficultyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"amount","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":7}},{"name":"unit","in":"query","required":false,"schema":{"type":"string","default":"d"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MapDifficultyStatisticsResponse"}}}}}}}},"/v1/maps/difficulties/{difficultyId}/scores":{"get":{"tags":["Maps"],"summary":"Difficulty leaderboard","description":"Paginated scores with player info for a specific difficulty, sorted by score descending. Optionally filter by country code (e.g. ES, GB) and/or player name search","operationId":"getDifficultyLeaderboard","parameters":[{"name":"difficultyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"country","in":"query","required":false,"schema":{"type":"string"}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageScoreResponse"}}}}}}},"/v1/maps/difficulties/leaderboard/{leaderboardId}/scores":{"get":{"tags":["Maps"],"summary":"Difficulty scores by leaderboard ID","description":"Paginated scores for a difficulty looked up by BeatLeader or ScoreSaber leaderboard ID (provide exactly one)","operationId":"getDifficultyScoresByLeaderboardId","parameters":[{"name":"leaderboardId","in":"path","required":true,"schema":{"type":"string"}},{"name":"country","in":"query","required":false,"schema":{"type":"string"}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageScoreResponse"}}}}}}},"/v1/maps/difficulties/leaderboard/{leaderboardId}/scores-around/{userId}":{"get":{"tags":["Maps"],"summary":"Scores around a player","description":"Returns scores above and below a player on a difficulty leaderboard. Looked up by BeatLeader or ScoreSaber leaderboard ID. If fewer scores exist above/below, the remainder shifts to the other side.","operationId":"getScoresAround","parameters":[{"name":"leaderboardId","in":"path","required":true,"schema":{"type":"string"}},{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"above","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":4}},{"name":"below","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":5}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScoresAroundResponse"}}}}}}},"/v1/maps/difficulties/all":{"get":{"tags":["Maps"],"summary":"All ranked difficulties","description":"Returns a flat list of all ranked difficulties with song hash, difficulty level, and current complexity. Cached until ranked difficulties change.","operationId":"getAllRankedDifficulties","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RankedDifficultyResponse"}}}}}}}},"/v1/maps/by-code/{beatsaverCode}":{"get":{"tags":["Maps"],"summary":"Get map by BeatSaver code","description":"Returns a map by its BeatSaver code with active difficulties, optionally filtered by difficulty level (EASY, NORMAL, HARD, EXPERT, EXPERT_PLUS)","operationId":"getMapByBeatsaverCode_1","parameters":[{"name":"beatsaverCode","in":"path","required":true,"schema":{"type":"string"}},{"name":"difficulty","in":"query","required":false,"schema":{"type":"string","enum":["EASY","NORMAL","HARD","EXPERT","EXPERT_PLUS"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublicMapResponse"}}}}}}},"/v1/levels":{"get":{"tags":["Milestones"],"summary":"List all level thresholds","operationId":"listLevels","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LevelThreshold"}}}}}}}},"/v1/leaderboards/{categoryId}":{"get":{"tags":["Leaderboards"],"summary":"Global leaderboard","description":"Paginated global rankings for a category, sorted by ranking ascending. Optionally filter by player name search, HMD, or inactive status.","operationId":"getGlobal","parameters":[{"name":"categoryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"hmd","in":"query","required":false,"schema":{"type":"string"}},{"name":"inactiveUsers","in":"query","required":false,"schema":{"type":"boolean","default":true}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageLeaderboardResponse"}}}}}}},"/v1/leaderboards/{categoryId}/country/{country}":{"get":{"tags":["Leaderboards"],"summary":"Country leaderboard","description":"Paginated rankings filtered by country for a category, sorted by AP descending. Optionally filter by player name search, HMD, or inactive status.","operationId":"getByCountry","parameters":[{"name":"categoryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"country","in":"path","required":true,"schema":{"type":"string"}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"hmd","in":"query","required":false,"schema":{"type":"string"}},{"name":"inactiveUsers","in":"query","required":false,"schema":{"type":"boolean","default":true}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageLeaderboardResponse"}}}}}}},"/v1/leaderboards/xp":{"get":{"tags":["Leaderboards"],"summary":"XP leaderboard","description":"Paginated XP rankings, sorted by total XP descending. Optional country, name search, HMD, and inactive status filters.","operationId":"getXpLeaderboard","parameters":[{"name":"country","in":"query","required":false,"schema":{"type":"string"}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"hmd","in":"query","required":false,"schema":{"type":"string"}},{"name":"inactiveUsers","in":"query","required":false,"schema":{"type":"boolean","default":true}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageXpLeaderboardResponse"}}}}}}},"/v1/health/ping":{"get":{"tags":["Health"],"summary":"Ping the service","description":"Returns service status and current timestamp","operationId":"ping","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{}}}}}}}},"/v1/discord/links/user/{userId}":{"get":{"tags":["Discord Links"],"summary":"Get link by user Steam ID","operationId":"getByUserId","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DiscordLinkResponse"}}}}}}},"/v1/curves":{"get":{"tags":["Curves"],"summary":"Get all active curves","operationId":"getAllCurves","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CurveResponse"}}}}}}}},"/v1/curves/{id}":{"get":{"tags":["Curves"],"summary":"Get a curve by ID","operationId":"getCurve","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CurveResponse"}}}}}}},"/v1/categories":{"get":{"tags":["Categories"],"summary":"List active categories","description":"Returns all active scoring categories with their associated curves","operationId":"listCategories","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CategoryResponse"}}}}}}}},"/v1/categories/{id}":{"get":{"tags":["Categories"],"summary":"Get category by ID","description":"Returns a single category with its associated curves","operationId":"getCategory","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CategoryResponse"}}}}}}},"/v1/campaigns":{"get":{"tags":["Campaigns"],"summary":"List all active campaigns","operationId":"listCampaigns","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageCampaignResponse"}}}}}}},"/v1/campaigns/{campaignId}":{"get":{"tags":["Campaigns"],"summary":"Get campaign details with maps","operationId":"getCampaign","parameters":[{"name":"campaignId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CampaignDetailResponse"}}}}}}},"/v1/calculate":{"get":{"tags":["Calculate"],"summary":"Calculate AP","description":"Calculate raw AP from a score percentage, complexity, and category. Optionally provide a userId to also compute the weighted AP for that score's position.","operationId":"calculateAP","parameters":[{"name":"scorePercentage","in":"query","required":true,"schema":{"type":"number"}},{"name":"complexity","in":"query","required":true,"schema":{"type":"number"}},{"name":"categoryCode","in":"query","required":false,"schema":{"type":"string","default":"standard_acc"}},{"name":"userId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APCalculationResponse"}}}}}}},"/v1/batches":{"get":{"tags":["Batches"],"summary":"List batches","description":"Paginated batch list, optionally filtered by status and/or batch name search","operationId":"listBatches_1","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["DRAFT","RELEASE_READY","RELEASED"]}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagePublicBatchResponse"}}}}}}},"/v1/batches/{id}":{"get":{"tags":["Batches"],"summary":"Get batch by ID","description":"Returns a batch with all its assigned map difficulties","operationId":"getBatch_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublicBatchResponse"}}}}}}},"/v1/badges":{"get":{"tags":["Badges"],"summary":"List all active badges","operationId":"listBadges","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BadgeResponse"}}}}}}}},"/v1/badges/{id}":{"get":{"tags":["Badges"],"summary":"Get a badge by ID","operationId":"getBadge","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BadgeResponse"}}}}}}},"/v1/admin/ws/status":{"get":{"tags":["Admin WebSocket"],"summary":"Get WebSocket connection status","operationId":"getWebSocketStatus","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{}}}}}}}},"/v1/admin/users/duplicates":{"get":{"tags":["Admin User Duplicates"],"summary":"Detect potential duplicate users","description":"Finds user pairs with 8+ identical scores (same map difficulty AND same score value). Primary is the user with more BeatLeader scores.","operationId":"detectDuplicates","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DuplicateCandidateResponse"}}}}}}}},"/v1/admin/milestones/{id}/prerequisites":{"get":{"tags":["Admin Milestones"],"summary":"Get prerequisite links for a milestone","operationId":"getPrerequisites","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PrerequisiteLinkResponse"}}}}}}}},"/v1/admin/milestones/schema":{"get":{"tags":["Admin Milestones"],"summary":"Get milestone query schema","operationId":"getSchema","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MilestoneSchemaResponse"}}}}}}},"/v1/staff/users/{id}":{"delete":{"tags":["Staff Users"],"summary":"Deactivate a staff user","operationId":"deactivate_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/v1/staff/users/{id}/oauth/{linkId}":{"delete":{"tags":["Staff Users"],"summary":"Unlink an OAuth provider from a staff user","operationId":"unlinkOAuth","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"linkId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/v1/ranking/maps/difficulties/{difficultyId}/votes/{voteId}":{"delete":{"tags":["Ranking - Map Votes"],"summary":"Deactivate a vote","description":"Soft-deletes an active vote (ranking_head/admin only)","operationId":"deactivateVote","parameters":[{"name":"difficultyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"voteId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/v1/admin/users/{userId}/country-override":{"delete":{"tags":["Admin Users"],"summary":"Clear a user's country override","description":"Removes the country override, allowing platform refreshes to update the country again.","operationId":"clearCountryOverride","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/v1/admin/users/duplicates/links/{linkId}":{"delete":{"tags":["Admin User Duplicates"],"summary":"Delete an unmerged duplicate link","operationId":"deleteLink","parameters":[{"name":"linkId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}}},"components":{"schemas":{"FilterSpec":{"type":"object","properties":{"column":{"type":"string"},"operator":{"type":"string"},"value":{},"subquery":{"$ref":"#/components/schemas/MilestoneQuerySpec"},"transform":{"$ref":"#/components/schemas/TransformSpec"},"column_ref":{"type":"string"},"column_ref_transform":{"$ref":"#/components/schemas/TransformSpec"}}},"GroupBySpec":{"type":"object","properties":{"column":{"type":"string"},"cast":{"type":"string"}}},"HavingSpec":{"type":"object","properties":{"function":{"type":"string"},"column":{"type":"string"},"operator":{"type":"string"},"value":{},"value_query":{"$ref":"#/components/schemas/MilestoneQuerySpec"}}},"MilestoneQuerySpec":{"type":"object","properties":{"select":{"$ref":"#/components/schemas/SelectSpec"},"from":{"type":"string"},"filters":{"type":"array","items":{"$ref":"#/components/schemas/FilterSpec"}},"having":{"$ref":"#/components/schemas/HavingSpec"},"divisor":{"$ref":"#/components/schemas/MilestoneQuerySpec"},"group_by":{"type":"array","items":{"$ref":"#/components/schemas/GroupBySpec"}},"outer_function":{"type":"string"},"order_by":{"type":"array","items":{"$ref":"#/components/schemas/OrderBySpec"}},"limit":{"type":"integer","format":"int32"},"or_groups":{"type":"array","items":{"type":"array","items":{"$ref":"#/components/schemas/FilterSpec"}}}}},"OrderBySpec":{"type":"object","properties":{"column":{"type":"string"},"direction":{"type":"string"}}},"SelectSpec":{"type":"object","properties":{"function":{"type":"string"},"column":{"type":"string"}}},"TransformSpec":{"type":"object","properties":{"function":{"type":"string"},"argument":{}}},"UpdateMilestoneRequest":{"type":"object","properties":{"title":{"type":"string"},"description":{"type":"string"},"querySpec":{"$ref":"#/components/schemas/MilestoneQuerySpec"},"xp":{"type":"number"},"tier":{"type":"string","enum":["bronze","silver","gold","platinum","diamond","apex"]},"targetValue":{"type":"number"},"comparison":{"type":"string"}}},"MilestoneResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"setId":{"type":"string","format":"uuid"},"categoryId":{"type":"string","format":"uuid"},"title":{"type":"string"},"description":{"type":"string"},"type":{"type":"string"},"tier":{"type":"string"},"xp":{"type":"number"},"querySpec":{"$ref":"#/components/schemas/MilestoneQuerySpec"},"targetValue":{"type":"number"},"comparison":{"type":"string"},"blExclusive":{"type":"boolean"},"status":{"type":"string"},"completionPercentage":{"type":"number"},"completions":{"type":"integer","format":"int64"},"totalPlayers":{"type":"integer","format":"int64"},"createdAt":{"type":"string","format":"date-time"}}},"UpdateMilestoneSetLinkRequest":{"type":"object","properties":{"sortOrder":{"type":"integer","format":"int32"}},"required":["sortOrder"]},"MilestoneSetLinkResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"groupId":{"type":"string","format":"uuid"},"groupName":{"type":"string"},"setId":{"type":"string","format":"uuid"},"setTitle":{"type":"string"},"sortOrder":{"type":"integer","format":"int32"},"createdAt":{"type":"string","format":"date-time"}}},"CreateMilestoneSetGroupRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1},"description":{"type":"string"}},"required":["name"]},"MilestoneSetGroupResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"UpdatePrerequisiteLinkRequest":{"type":"object","properties":{"blocker":{"type":"boolean"}},"required":["blocker"]},"PrerequisiteLinkResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"milestoneId":{"type":"string","format":"uuid"},"prerequisiteMilestoneId":{"type":"string","format":"uuid"},"prerequisiteTitle":{"type":"string"},"prerequisiteTier":{"type":"string"},"blocker":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"}}},"CreateStaffUserRequest":{"type":"object","properties":{"username":{"type":"string"},"email":{"type":"string"},"password":{"type":"string","minLength":1},"role":{"type":"string","enum":["MODERATOR","RANKING","RANKING_HEAD","DEVELOPER","ADMIN"]},"userId":{"type":"integer","format":"int64"}},"required":["password","role"]},"StaffUserResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"username":{"type":"string"},"email":{"type":"string"},"role":{"type":"string","enum":["MODERATOR","RANKING","RANKING_HEAD","DEVELOPER","ADMIN"]},"status":{"type":"string","enum":["REQUESTED","ACCEPTED","DENIED"]},"userId":{"type":"string"},"active":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"}}},"OAuthLinkRequest":{"type":"object","properties":{"provider":{"type":"string","minLength":1},"providerUserId":{"type":"string","minLength":1},"providerUsername":{"type":"string"},"providerAvatarUrl":{"type":"string"}},"required":["provider","providerUserId"]},"StaffOAuthLinkResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"provider":{"type":"string"},"providerUsername":{"type":"string"},"providerAvatarUrl":{"type":"string"},"linkedAt":{"type":"string","format":"date-time"}}},"StaffAccessRequest":{"type":"object","properties":{"username":{"type":"string"},"email":{"type":"string"},"password":{"type":"string","minLength":1}},"required":["password"]},"RefreshTokenRequest":{"type":"object","properties":{"refreshToken":{"type":"string","minLength":1}},"required":["refreshToken"]},"AuthResponse":{"type":"object","properties":{"accessToken":{"type":"string"},"refreshToken":{"type":"string"},"expiresIn":{"typ
[...]
